<div class="admins-clipedit-wrapper" style="margin-top: 100px;">
	<div class="container">
		<div class="row">
			<div class="col-xs-9">
				<h1>Clip 編集</h1>
				<%= form_for(@clip) do |f| %>

                <h4>Clip名</h4>
                <div><%= f.text_field :title, class: "clip-title" %></div>

                <h4>Clip</h4>
                <div><%= f.text_area :video, rows:'5', class: "clip",placeholder: "コードをここに" %></div>

                <h4>Clip情報</h4>
                <div><%= f.text_area :body, class: "clip-body" %></div>

                <div><%= f.submit '編集', class: "btn" %></div>
              <% end %>
			</div>
		</div>
	</div>
</div>