<div class="admins-clipshow-wrapper" style="margin-top: 100px;">
	<div class="container">
		<div class="row" style="padding-top: 100px;">
			<div class="col-12">
				<h1 style="text-align: center;"><%= @clip.title %><span style="padding-left: 20px;"><%= @clip.created_at.strftime('%Y/%m/%d') %><span></h1>
				<div class="d-flex justify-content-center" style="padding: 10px">
					<iframe width="800" height="500" src="https://www.youtube.com/embed/<%=@clip.video%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="clip-trick">
				    <p><%= @clip.trick.name %></p>
			    </div>
				<p style="padding-top: 10px;"><%= @clip.body %></p>
				<%= link_to "削除",admins_clip_path(@clip.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "clip-destroy" %>
			</div>
		</div>
	</div>
</div>
<div class="review-wrapper">
	<div class="container">
  		<h2>コメント一覧</h2>
  	    <% @clip.comments.each do |comment| %>
	  		<div class="row"  style="border: 2px solid #999;">
	  		  		<ol class="review-list">
		        		<li class="comment">
							<div class="comment-body bb">
								<div class="comment-text">
									<div class="comment-author clearfix">
			                        	<span class="comment-meta">
			                          	<span class="comment-date"><%= comment.created_at.strftime('%Y/%m/%d') %></span>
			                          	<span class="comment-date"><%= comment.user.name %>さんのレビュー</span>
			                        	</span>
									</div>
									<div class="comment-entry"><%= comment.body %></div>
								</div>
							</div>
		          		</li>
							<div class="text-right">
								<p>
									<%= link_to "削除", admins_clips_path(@clip,comment), method: :delete, "data-confirm" => "本当に削除しますか？",class: "btn1 btn-lg btn-base-1 mt-10" %>
								</p>
							</div>
	         		</ol>
	  	 	</div>
        <% end %>
	</div>
</div>