<div class="spotindex-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="d-flex justify-content-center">
					<h1>Spot List</h1>
			    </div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="d-flex justify-content-center">
					<nav>
						<ul>
							<li><a href="#Hokkaido">北海道</a></li>
							<li><a href="#Tohoku">東北</a></li>
							<li><a href="#Kanto">関東</a></li>
							<li><a href="#Tokai-Hokuriku">東海・北陸</a></li>
							<li><a href="#Kinki">近畿</a></li>
							<li><a href="#Chugoku">中国</a></li>
							<li><a href="#Shikoku-Kyushu">四国・九州</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	<% @locations.each do |location| %>
	<h2>
		<p><%=location.name %></p>
	</h2>
      <% location.spots.each do |spot| %>
		<div class="row" style="padding-top: 20px;">
			<%= link_to spot_path (spot) do %>
			<div class="row spot-box1" style="padding-top: 20px;">
				<div class="col-xs-4">
					<%= attachment_image_tag spot, :profile_image, format: 'jepg', fallback: "no_image.jpg", size: "550x300" %>
				</div>
				<div class="col-xs-8" style="padding-left: 30px;">
					<div class="spot-title">
						<h2><%= spot.title %></h2>
					</div>
					<div class="spot-address">
						<p><%= spot.address %></p>
					</div>
					<div class="spot-body">
						<p><%= simple_format(spot.body) %><p>
					</div>
					<div class="spot-location">
						<p><%= spot.location.name %></p>
					</div>
				</div>
			</div>
			<% end %>
		</div>
	 <% end %>
	 <br>
	 <br>
	 <br>
	 <br>
	 <br>
	<% end %>
	</div>
</div>