<div class="spotindex-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="d-flex justify-content-center">
					<h3>Spot List</h3>
			    </div>
			</div>
		</div>
		<div class="row" style="padding-bottom: 50px;">
			<div class="col-12">
				<div class="d-flex justify-content-center">
					<% @locations.each do |location| %>
						<nav>
							<ul class=nav-area>
								<li class="area-list">
									<a href="#<%= location.id %>"><p  class="location" style="width: 180px; padding: 0.5em; background: aliceblue; background-color: #666666;"><%= location.name %></p></a>
								</li>
							</ul>
						</nav>
					<% end %>
				</div>
			</div>
		</div>
	<% @locations.each do |location| %>
	<h2 class="top-title1">
		<p id="<%= location.id %>"><%=location.name %></p>
	</h2>
      <% location.spots.each do |spot| %>
		<div class="row" style="padding-top: 20px;">
			<%= link_to spot_path (spot) do %>
			<div class="row spot-box1" style="padding-top: 20px;">
				<div class="col-xs-4">
					<%= attachment_image_tag spot, :profile_image, format: 'jepg', fallback: "no_image.jpg", size: "550x300" %>
				</div>
				<div class="col-xs-8" style="padding-left: 30px;">
					<div class="spot-title">
						<h2><%= spot.title %></h2>
					</div>
					<div class="spot-address">
						<p><%= spot.address %></p>
					</div>
					<div class="spot-body">
						<p><%= simple_format(spot.body) %><p>
					</div>
					<div class="spot-location">
						<p class="top-title2"><%= spot.location.name %></p>
					</div>
				</div>
			</div>
			<% end %>
		</div>
		<div class="row" style="padding-top: 50px;">
			<div class="col-12" style="border: 4px solid white; box-shadow: 0 0 5px gray; margin-top: 50px">
				<div class="d-flex justify-content-center">
					<div class="top-back">
						<h2><a class="fas fa-chevron-up" href="#"></a></h2>
					</div>
				</div>
			</div>
		</div>
	 <% end %>
	 <br>
	 <br>
	 <br>
	 <br>
	 <br>
	<% end %>
	</div>
</div>

<script>
      $(function(){
        $('a[href^="#"]').click(function() {
          var speed = 3000; 
          var href= $(this).attr("href");
          var target = $(href == "#" || href == "" ? 'html' : href);
          var position = target.offset().top;
          $('body,html').animate({scrollTop:position}, speed, 'swing');
          return false;
        });
      });
</script>