<div class="admins-trendshow-wrapper" style="margin-top: 100px;">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="d-flex justify-content-center">
					<iframe width="800" height="500" src="https://www.youtube.com/embed/<%=@trend.video%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="d-flex justify-content-center">
					<h6>TREND</h6>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="d-flex justify-content-center">
					<h1><%= @trend.title %></h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="d-flex justify-content-center">
					<p><%= @trend.created_at.strftime('%Y/%m/%d') %></p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="d-flex justify-content-center">
					<p><%= simple_format(@trend.body) %></p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="d-flex justify-content-center">
					<%= attachment_image_tag @trend, :profile_image, format: 'jepg', fallback: "no_image.jpg", size: "550x300" %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="d-flex justify-content-center">
					<p><%= simple_format(@trend.secondbody) %></p>
				</div>
			</div>
		</div>
		<%= link_to "編集", edit_admins_trend_path(@trend.id), class: "trend-edit" %>
		<%= link_to "削除",admins_trend_path(@trend.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "trend-destroy" %>
	</div>
</div>