<div id="login">
        <div class="container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h4 class="text-center text-info">ログイン</h4>
                            <div class="form-group">
                                <label for="username" class="text-info">Email:</label><br>
                                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                                <!-- <input type="text" name="username" id="username" class="form-control"> -->
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">パスワード:</label><br>
                                <%= f.password_field :password, autocomplete: "current-password" %>
                                <!-- <input type="text" name="password" id="password" class="form-control"> -->
                            </div>
                            <div class="form-group">
                              <% if devise_mapping.rememberable? %>
                                <div class="field">
                                  <%= f.check_box :remember_me %>
                                  <%= f.label :remember_me %>
                                </div>
                              <% end %>
                            </div>
                            <div class="actions">
                              <%= f.submit "ログイン", style: "background-color: yellow;" %>
                            </div>
                            <%= render "users/shared/links" %>
                        </form>
                    </div>
                </div>
            </div>
        </div>
  <% end %>
    </div>