<div class="clipindex-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="d-flex justify-content-center">
					<%= search_form_for @search do |f| %>
				    <!--nameカラムに対して部分一致検索ができる-->
				    	<div class="form-group">
				    		<%#= f.label :trick_name_cont, "検索" %>
				    		<%= f.text_field :trick_name_cont, class: "form-control" %>
				    	</div>
				    	<div class="actions">
				    		<%#= f.submit"検索" %>
				    		<input type="submit" class="btn btn-primary btn-sm" value="検索">
				  		</div>
					<% end %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="d-flex justify-content-center">
					<h1>Clip List</h1>
					<%= link_to "", new_clip_path, class: "fas fa-video" %>
				</div>
			</div>
		</div>
         <div class="row-all col-12">
			<% @clips.each do |clip| %>
				<div class="clipsplate" style="border: 4px solid white; box-shadow: 0 0 5px gray; margin-top: 50px">
					<%= link_to clip_path (clip) do %>
						<p style="margin-bottom: 0px; padding-top: 10px; font-weight: bold;"><%= clip.title %></p>
						<iframe width="300" height="200" src="https://www.youtube.com/embed/<%=clip.video%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			          <%=  clip.impressionist_count %>
					<% end %>
			    </div>
		    <% end %>
		    <%= paginate @clips %>
         </div>
	</div>
</div>


