<div class="clipindex-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="d-flex justify-content-center" style="padding-top: 20px;">
					<%= search_form_for @search do |f| %>
						<form method="get" action="#" class="search_container">
						  <%= f.text_field :trick_name_cont, class: "find", placeholder: "検索してみよう！" %>
						  <button type="submit" style="padding: 15px; cursor: pointer; cursor: pointer; margin-left: 15px;">
						  	<i class="fas fa-search" style="font-size: 30px; color: lightskyblue;"></i>
						  </button>
						</form>
					<% end %>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 50px;">
			<div class="col-12">
				<div class="d-flex justify-content-center">
					<h3>Clip List</h3>
					<div style="padding-left: 20px; font-size: 30px;"><%= link_to "", new_clip_path,data: {"turbolinks" => false}, class: "fas fa-video" %></div>
				</div>
			</div>
		</div>
         <div class="row-all col-12">
			<% @clips.each do |clip| %>
				<div class="clipsplate" style="border: 4px solid white; box-shadow: 0 0 5px gray; margin-top: 50px">
					<%= link_to clip_path (clip),data: {:turbolink => false} do %>
						<p style="margin-bottom: 0px; padding-top: 10px; font-weight: bold;"><%= clip.title %><span style="margin: 20px"></span>
							<span class="box-count"><%= clip.impressionist_count %></span></p>
						<iframe width="300" height="200" src="https://www.youtube.com/embed/<%=clip.video%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<% end %>
			    </div>
		    <% end %>
		    	<div class="col-12" style="padding-top: 20px;">
		    		<div class="d-flex justify-content-end">
		    			<%= paginate @clips %>
		    		</div>
		    	</div>
         </div>
	</div>
</div>


