<div class="clipnew-wrapper" style="margin-top: 100px;">
	<div class="container">
		<div class="row"style="border: 4px solid white; box-shadow: 0 0 5px gray;">
			<div class="col-12">
				<div class="d-flex justify-content-center">
					<h4>*投稿する際の諸注意*</h4>
				</div>
				<div class="d-flex justify-content-center" style="padding-top: 10px;">
					<p style="border-bottom: solid 3px #ff0000;"><strong>*YouTubeから投稿する際,その動画の埋め込みコードが</strong></p>
					<p style="border-bottom: solid 3px #ff0000;"><strong>必要になります。コードの取得は画像の通りにお願い致します！</strong></p>
				</div>
				<div class="d-flex justify-content-center" style="padding-top: 30px;">
					<img src="/clipnew.jpg" alt="写真" width="800" height="360">
				</div>
				<div class="d-flex justify-content-center" style="padding-top: 30px;">
					<p style="border-bottom: solid 3px #ff0000;"><strong>*取得するコードは/embed/以降の11文字だけをコピーして下さい！</strong></p>
				</div>
				<div class="d-flex justify-content-center">
					<p style="border-bottom: solid 3px #ff0000;"><strong>*コピーしたコードは指定された場所で貼り付けお願い致します!</strong></p>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 30px;">
			<div class="col-xs-9">
				<h1>Clip Post</h1>

				<% if @clip.errors.any? %>
					<p class="alert-danger"><strong>空白の欄があります。すべての記入欄を埋めてください</strong></p>
				<% end %>


				<%= form_for(@clip, url: clips_path) do |f| %>

                <h4 style="padding-top: 20px;">Clip名</h4>
                <div><%= f.text_field :title, class: "clip-title" %></div>

                <h4 style="padding-top: 20px;">Clipコード</h4>
                <div><%= f.text_area :video, rows:'5', size: "30x1", class: "clip",placeholder: "コードをここに" %></div>

                <h4 style="padding-top: 20px;">Clip情報</h4>
                <div><%= f.text_area :body, size: "125x5", class: "clip-body" %></div>

                <div class="row">
                	<div class="col-12">
                		<img src="/screen.jpg" alt="写真" width="150" height="200" style="padding-top: 20px;">
                		<div class="d-flex justify-content-center">
                			<p style="font-size: 20px; border-bottom: solid 3px #ff0000;">＊月のTrick Challengeの投稿する際はその月の()がついてるTrickをお選びください！</p>
                		</div>
                	</div>
                </div>

                <h4 style="padding-top: 20px;">Clip Trick</h4>
                <div><%= f.collection_select :trick_id, Trick.all,:id, :name %></div>
			</div>
			<div class="col-12">
				<div class="d-flex justify-content-end">
					<div style="padding-top: 20px;"><%= f.submit '投稿へ', data: {:turbolink => false}, class: "btn btn-primary" %></div>
				</div>
			</div>
           <% end %>
		</div>
	</div>
</div>