<div class="clipshow-wrapper">
	<div class="container">
		<div class="row" style="padding-top: 100px;">
			<div class="col-12">
			<div style="padding: 20px; background: #fff; -webkit-box-shadow: 0 0 50px #add8e6 inset, 5px 5px 0 #cecece; -moz-box-shadow: 0 0 50px #add8e6 inset, 5px 5px 0 #cecece; box-shadow: 0 0 50px #add8e6 inset, 5px 5px 0 #cecece; font-size: 90%;">
			
				<div class="d-flex justify-content-center"><p style="font-size: 50px; font-family: Impact"><%= @clip.title %></p></div>
				<!-- <h1 style="text-align: center;"><%#= @clip.created_at.strftime('%Y/%m/%d') %><span style="padding-left: 20px;"><br><%= @clip.title %></span></h1> -->
              </div>

              
                    <div id="favorite_btn_<%= @clip.id %>">
					   <%= render partial: 'favorite_form', locals: { clip: @clip } %>
					</div>



				<div class="d-flex justify-content-center" style="padding: 10px">
					<iframe width="800" height="500" src="https://www.youtube.com/embed/<%=@clip.video%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="d-flex justify-content-end"><p style="font-size: 20px;"><%= @clip.created_at.strftime('%Y/%m/%d') %></p></div>
				<div class="clip-trick">
				    <p style="font-size: 30px;"><%= @clip.trick.name %></p>
			    </div>
				<p style="padding-top: 10px; font-size: 20px;"><strong><%= @clip.body %></strong></p>


			<% if @clip.user_id == current_user.id%>

             <div class="d-flex justify-content-end">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="margin-right: 30px;">
				  編集
				</button>
			    <%= link_to "削除",clip_path(@clip.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-primary" %>
            </div>
　　　　　　　　　<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="margin-top: 100px;">
	　　　　　　　　　<div class="modal-dialog" role="document">
					<div class="modal-content">
					  <div class="modal-header">
					    <h5 class="modal-title" id="exampleModalLabel">CLIP EDIT</h5>
					    <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
					      <span aria-hidden="true">&times;</span>
					    </button>
					  </div>
					  <div class="modal-body">
							<%= form_for(@clip) do |f| %>

			                <h4>Clip名</h4>
			                <div><%= f.text_field :title, class: "clip-title" %></div>

			                <h4>Clipコード</h4>
			                <div><%= f.text_area :video, rows:'5',size: "30x1", class: "clip",placeholder: "コードをここに" %></div>

			                <h4>Clip情報</h4>
			                <div><%= f.text_area :body, size: "50x5", class: "clip-body" %></div>
					  </div>
					  <div class="modal-footer">
					    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
					    <div><%= f.submit '保存', class: "btn" %></div>
					  </div>
					  <% end %>
					</div>
					</div>
				</div>
			<% end %>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<h2>コメント</h2>
				<%= form_for [@clip, @comment] do |f| %>
					<div class="row">
						<div class="col-12">
							<%= f.text_area :body, rows:'5', class: "form-control",placeholder: "コメントをここに", size: "300x5" %>
							<div class="add-review" style="padding: 10px;">
								<div class="d-flex justify-content-end">
								  <%= f.submit "送信する", class: "btn1 btn-lg btn-base-1 mt-20 pull-right" %>
								</div>  
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="review-wrapper">
	<div class="container">
  		<h2>コメント一覧</h2>
  		<% @clip.comments.each do |comment| %>
  		   <div class="row"  style="border: 2px solid #999;">
  		  		<ol class="review-list">
	        		<li class="comment">
						<div class="comment-body bb">
							<div class="comment-text">
								<div class="comment-author clearfix">
		                        	<span class="comment-meta">
		                          	<span class="comment-date"><%= comment.created_at.strftime('%Y/%m/%d') %></span>
		                          	<span class="comment-date"><%= comment.user.name %>さんのレビュー</span>
		                        	</span>
								</div>
								<div class="comment-entry"><%= comment.body %></div>
							</div>
						</div>
	          		</li>
					<% if current_user.id == comment.user_id %>
						<div class="text-right">
							<p>
								<%= link_to "削除", clip_comment_path(@clip,comment), method: :delete, "data-confirm" => "本当に削除しますか？",class: "btn1 btn-lg btn-base-1 mt-10" %>
							</p>
						</div>
					<% end %>
         		</ol>
  	 	   </div>
  	 	  <% end %>
	</div>
</div>