<div class="homeindex-wrapper" style="margin-top: 100px;">
	<div class="container">
		<div class="row" style="border: 4px solid white; box-shadow: 0 0 5px gray; margin-top: 50px background-color: ">
			<div class="col-12">
				    <h2>sk8growthとは</h2>
					<p style="text-align: center;"><strong>スケボーをやりながら成長できたらいいなで</strong></p>
					<h2 style="text-align: center;">『sk8growth』</h2>
					<p style="text-align: center;"><strong>あまり深く考えずに暇つぶし程度に見て、使っていただけたら嬉しいです。</strong></p>
					<p style="text-align: center;">sk8growth 一同</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="d-flex justify-content-center">
					<h2 id="animation"><%= @home.title %></h2>
				</div>
			</div>		
		</div>
		<div class="row">
		    <div class="col-12">
		    	<div class="d-flex justify-content-center">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @clip.video %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
		    </div>
		</div>
		<div class="card text-center" style="margin-top: 100px;" id="animation2">
			<div class="card-header">
				<p>今月の Trick Challenge</p>
			</div>
			<div class="card-body">
				<h2 class="card-title">今月の Trick Challenge<br><%= @home.challenge %></h2>
				<p class="card-text">今すぐ投稿してみよう！！！</p>
				<%= link_to "投稿へ", new_clip_path, data: {:turbolink => false}, class: "btn btn-primary" %>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="d-flex justify-content-center">
					<%= link_to "今月Trickランキングへ", tricks_path, class: "btn5 btn-primary" %>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 100px;">
			<div class="col-12">
				<div class="d-flex justify-content-center">
					<h2 id="animation3">HOW TO</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="d-flex justify-content-center" id="animation4">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @home.video %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<div class="row">
			<div class="col-12">
				<div class="d-flex justify-content-center">
					<h2 id="animation5">FAVORITE RANKING</h2>
				</div>
			</div>
		</div>
		<div class="row-all col-12">
			<% @all_ranks.each.with_index(1) do |rank,i| %>
				<div class="clipsplate" style="border: 4px solid white; box-shadow: 0 0 5px gray; margin-top: 50px">
					<h4 style="margin-bottom: 0; padding-top: 10px;padding-left: 10%;"><%= i %>位</h4>
					<%= link_to clip_path (rank) do %>
						<p style="margin-bottom: 0px; padding-top: 10px; font-weight: bold;"><%= rank.title %></p>
						<iframe width="300" height="200" src="https://www.youtube.com/embed/<%=rank.video%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<div class="index-favorites">
						<i class="far fa-thumbs-up" aria-hidden="true" style="font-size: font-size: 20px;"></i>
						<%= rank.favorites.count %>
					</div>
					<% end %>
				</div>
			<% end %>
		</div>	
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>		
		<div class="row" style="margin-top: 10px;">
			<div class="col-12">
				<div class="d-flex justify-content-center">
					<h2 id="animation6">TREND</h2>
				</div>
			</div>
		</div>
		<div class="row-all col-12">		
			<% @trends.each do |trend| %>
				<div class="clipsplate" style="border: 4px solid white; box-shadow: 0 0 5px gray; margin-top: 50px;">
					<%= link_to trend_path (trend) do %>
					    <iframe width="300" height="200" src="https://www.youtube.com/embed/<%=trend.video%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<p style="margin-bottom: 0px; padding-top: 10px; font-weight: bold;"><%= trend.title %></p>
						<p style="margin-bottom: 0px; padding-top: 10px; font-weight: bold;"><%= trend.comment %></p>
					<% end %>
			    </div>
		    <% end %>

		</div>


		<script>

			$('#animation').css('visibility','hidden');
			$(window).scroll(function(){
			 var windowHeight = $(window).height(),
			     topWindow = $(window).scrollTop();
			 $('#animation').each(function(){
			  var targetPosition = $(this).offset().top;
			  if(topWindow > targetPosition - windowHeight + 100){
			   $(this).addClass("fadeInDown");
			  }
			 });
			});

			$('#animation2').css('visibility','hidden');
			$(window).scroll(function(){
			 var windowHeight = $(window).height(),
			     topWindow = $(window).scrollTop();
			 $('#animation2').each(function(){
			  var targetPosition = $(this).offset().top;
			  if(topWindow > targetPosition - windowHeight + 100){
			   $(this).addClass("fadeInDown");
			  }
			 });
			});

			$('#animation3').css('visibility','hidden');
			$(window).scroll(function(){
			 var windowHeight = $(window).height(),
			     topWindow = $(window).scrollTop();
			 $('#animation3').each(function(){
			  var targetPosition = $(this).offset().top;
			  if(topWindow > targetPosition - windowHeight + 100){
			   $(this).addClass("fadeInDown");
			  }
			 });
			});

			$('#animation4').css('visibility','hidden');
			$(window).scroll(function(){
			 var windowHeight = $(window).height(),
			     topWindow = $(window).scrollTop();
			 $('#animation4').each(function(){
			  var targetPosition = $(this).offset().top;
			  if(topWindow > targetPosition - windowHeight + 100){
			   $(this).addClass("fadeInDown");
			  }
			 });
			});

			$('#animation5').css('visibility','hidden');
			$(window).scroll(function(){
			 var windowHeight = $(window).height(),
			     topWindow = $(window).scrollTop();
			 $('#animation5').each(function(){
			  var targetPosition = $(this).offset().top;
			  if(topWindow > targetPosition - windowHeight + 100){
			   $(this).addClass("fadeInDown");
			  }
			 });
			});

			$('#animation6').css('visibility','hidden');
			$(window).scroll(function(){
			 var windowHeight = $(window).height(),
			     topWindow = $(window).scrollTop();
			 $('#animation6').each(function(){
			  var targetPosition = $(this).offset().top;
			  if(topWindow > targetPosition - windowHeight + 100){
			   $(this).addClass("fadeInDown");
			  }
			 });
			});








		</script>	
	</div>
</div>

