<div class="admins-spotshow-wrapper" style="margin-top: 200px;">
	<div class="container">
		<div class="row">
			<div class="col-xs-9">
				<h1><%= @spot.title %></h1>
				<p><%= @spot.address %></p>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="d-flex justify-content-center">
				  <%= attachment_image_tag @spot, :profile_image, format: 'jepg', fallback: "no_image.jpg", size: "550x300" %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-9">
				<h2>セクション</h2>
				　　<p><%= simple_format(@spot.body) %><p>
				<h2>パーク概要</h2>
				　　<p><%= simple_format(@spot.content) %><p>	
				<h2>Google Map</h2>
				   <iframe width="560" height="360" src="https://maps.google.co.jp/maps?output=embed&q=<%= @spot.map %>"></iframe>
			</div>
			<%= link_to "編集", edit_admins_spot_path(@spot.id), class: "spot-edit" %>
			<%= link_to "削除",admins_spot_path(@spot.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "spot-destroy" %>
		</div>
	</div>
</div>