<div class="admin-homeindex-wrapper" style="margin-top: 200px;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="d-flex justify-content-center">
					<h2><%= @home.title %></h2>
					<img src="/clip2.jpg" alt="写真" width="800" height="400">
				</div>
		    </div>
		</div>
		<div class="row" style="padding: 50px;">
				<h2>今月の Trick Challenge</h2>
			    <h1 style="margin: 0 60px;"><%= @home.challenge %></h1>
			    <%= link_to "投稿へ", new_clip_path, class: "btn" %>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="d-flex justify-content-center">
					<h3>HOW TO</h3>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @home.video %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<%= link_to "追加", new_admins_home_path, class: "home-form" %>
		<%= link_to "編集",  edit_admins_home_path(@home.id), class: "home-edit" %>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<div class="row">
			<div class="col-12">
				<div class="d-flex justify-content-center">
					<h3>Favorites Ranking</h3>
				</div>
			</div>
		</div>
		<div class="row-all col-12">
			<% @clips.each do |clip| %>
				<div class="clipsplate" style="border: 4px solid white; box-shadow: 0 0 5px gray; margin-top: 50px">
					<%= link_to clip_path (clip) do %>
						<p style="margin-bottom: 0px; padding-top: 10px; font-weight: bold;"><%= clip.title %></p>
						<iframe width="300" height="200" src="https://www.youtube.com/embed/<%=clip.video%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<div class="index-favorites">
						<i class="far fa-thumbs-up" aria-hidden="true" style="font-size: font-size: 20px;"></i>
						<%= clip.favorites.count %>
					</div>
					<% end %>
				</div>
			<% end %>
		</div>	
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>		
		<div class="row" style="margin-top: 10px;">
			<div class="col-12">
				<div class="d-flex justify-content-center">
					<h2>TREND</h2>
				</div>
			</div>
		</div>
		<div class="row-all col-12">		
			<% @trends.each do |trend| %>
				<div class="clipsplate" style="border: 4px solid white; box-shadow: 0 0 5px gray; margin-top: 50px;">
					<%= link_to trend_path (trend) do %>
					    <iframe width="300" height="200" src="https://www.youtube.com/embed/<%=trend.video%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<p style="margin-bottom: 0px; padding-top: 10px; font-weight: bold;"><%= trend.title %></p>
						<p style="margin-bottom: 0px; padding-top: 10px; font-weight: bold;"><%= trend.comment %></p>
					<% end %>
			    </div>
		    <% end %>
		</div>
	</div>
</div>
