<div class="admin-homeindex-wrapper" style="margin-top: 200px;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="d-flex justify-content-center">
					<h2><%= @home.title %></h2>
					<img src="/clip2.jpg" alt="写真" width="800" height="400">
				</div>
		    </div>
		</div>
		<div class="row" style="padding: 50px;">
				<h2>今月の Trick Challenge</h2>
			    <h1 style="margin: 0 60px;"><%= @home.challenge %></h1>
			    <%= link_to "投稿へ", new_clip_path, class: "btn" %>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="d-flex justify-content-center">
					<h3>HOW TO</h3>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @home.video %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8">
				<h3>This Month's Ranking</h3>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/ZPCbsMA5r20" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
		<%= link_to "追加", new_admins_home_path, class: "home-form" %>
		<%= link_to "編集",  edit_admins_home_path(@home.id), class: "home-edit" %>
	</div>
</div>
