<div class="admin-homenew-wrapper" style="margin-top: 200px;">
	<div class="container">
		<div class="col-xs-9">
			<h2>Home</h2>
			<%= form_for(@home,url: admins_homes_path) do |f| %>
			<h2>Title</h2>
			<div><%= f.text_field :title %></div>
			<h2>Challenge</h2>
			<div><%= f.text_field :challenge %></div>
			<h2>HOW TO</h2>
			<div><%= f.text_area :video, rows:'5', class: "clip",placeholder: "コードをここに" %></div>
			<%#= f.fields_for :homes do |home| %>
			<%#= render 'home_fields', f:home %>
			<%# end %>
			<div><%= f.submit '投稿へ', class: "btn" %></div>
			<% end %>
		</div>
	</div>
</div>
