<!DOCTYPE html>
<html>
  <head>
    <title>Sk8</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel='stylesheet' href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <link rel="stylesheet" href="slick.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/skippr.min.js"></script> 
    <script src="js/script.js"></script> 
    <!-- <script src="slick.min.js"></script> -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    
   


  </head>

  <body>
  <header id="header" style="height: 125px;">

    <% if user_signed_in? %>
      <div class="header-title"><%= current_user.name %>login中</div>
    <% end %>

  <% if user_signed_in? %>

      <nav>
        <ul class="nav-list">
            <li class="nav-item dropdown" style="float: left;">
              <a class="fas fa-bars" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                 <%= link_to "HOME", root_path, class: "dropdown-item" %>
                 <%= link_to "CLIP", clips_path, class: "dropdown-item" %>
                 <%= link_to "SPOT", spots_path, class: "dropdown-item" %>
                 <%= link_to "TREND", trends_path, class: "dropdown-item" %>
                 <%= link_to "CONTACT", new_clip_path, class: "dropdown-item" %>
              </div>
            </li>
          <h1 class="header-title">sk8growth</h1>
              <li class="nav-list-item">
                <%= link_to '' , destroy_user_session_path, method: :delete, class: "header-title fas fa-sign-out-alt" %>
              </li>
              <li class="nav-list-item">
                <%= link_to "", new_user_session_path, class: "header-title fas fa-sign-in-alt" %>
              </li>
              <li class="nav-list-item">
                <%= link_to "", new_clip_path, class: "header-title fas fa-video" %>
              </li>
        </ul>
      </nav>
  <% elsif admin_signed_in? %>
      <div class="container">
        <div class="row">
          <nav>
                <ul class="nav-admin">
                      <li class="nav-admin-item">
                        <%= link_to "HOME", admins_homes_path, class: "admin-title" %>
                      </li>
                      <li class="nav-home-item">
                        <%= link_to "CLIP", admins_clips_path, class: "admin-title" %>
                      </li>
                      <li class="nav-home-item">
                        <%= link_to "SPOT", admins_spots_path, class: "admin-title" %>
                      </li>
                      <li class="nav-home-item">
                        <%= link_to "TREND", admins_trends_path, class: "admin-title" %>
                      </li>
                      <li class="nav-home-item">
                        <%= link_to 'LogOut' , destroy_admin_session_path, method: :delete, class: "admin-title" %>
                      </li>
                    </ul>
                </nav>
        </div>
      </div>
  <% else %>
      <nav>
        <ul class="nav-list">
            <li class="nav-item dropdown" style="float: left;">
              <a class="fas fa-bars" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                 <%= link_to "HOME", root_path, class: "dropdown-item" %>
                 <%= link_to "CLIP", clips_path, class: "dropdown-item" %>
                 <%= link_to "SPOT", spots_path, class: "dropdown-item" %>
                 <%= link_to "TREND", trends_path, class: "dropdown-item" %>
                 <%= link_to "CONTACT", new_clip_path, class: "dropdown-item" %>
              </div>
            </li>
          <h1>sk8growth</h1>
              <li class="nav-list-item">
                <%= link_to '' , destroy_user_session_path, method: :delete, class: "header-title fas fa-sign-out-alt" %>
              </li>
              <li class="nav-list-item">
                <%= link_to "", new_user_session_path, class: "header-title fas fa-sign-in-alt" %>
              </li>
        </ul>
      </nav>
  <% end %>
    <% if flash[:notice] %>
       <p class="alert-success" style="text-align: center; height: 30px; font-size: 20px;margin-bottom: 0;"><%= flash[:notice] %></p>
     <% end %>
</header>
<% if user_signed_in? %>
<div style="margin-top: 100px;"></div>



    <!-- <div class="slider">
        <div><img src="/img1.jpg" alt=""></div>
        <div><img src="/img2.jpg" alt=""></div>
        <div><img src="/img3.jpg" alt=""></div>
        <div><img src="/sksk.jpg" alt=""></div>
        <div><img src="/yuuko1.jpg" alt=""></div>
    </div>
    <script>
      $('.slider').slick({
      // アクセシビリティ。左右ボタンで画像の切り替えをできるかどうか
      accessibility: true,
      // 自動再生。trueで自動再生される。
      autoplay: true,
      // 自動再生で切り替えをする時間
      autoplaySpeed: 3000,
      // 自動再生や左右の矢印でスライドするスピード
      speed: 400,
      // 自動再生時にスライドのエリアにマウスオンで一時停止するかどうか
      pauseOnHover: true,
      // 自動再生時にドットにマウスオンで一時停止するかどうか
      pauseOnDotsHover: true,
      // 切り替えのアニメーション。ease,linear,ease-in,ease-out,ease-in-out
      cssEase: 'ease',
      // 画像下のドット（ページ送り）を表示
      dots: false,
      // ドットのclass名をつける
      dotsClass: 'dot-class',
      // ドラッグができるかどうか
      draggable: true,
      // 切り替え時のフェードイン設定。trueでon
      fade: false,
      // 左右の次へ、前へボタンを表示するかどうか
      arrows: true,
      // 無限スクロールにするかどうか。最後の画像の次は最初の画像が表示される。
      infinite: true,
      // 最初のスライダーの位置
      initialSlide: 0,
      // 画像の遅延表示。‘ondemand’or'progressive'
      lazyLoad: ‘ondemand’,
      // スライドのエリアにマウスオーバーしている間、自動再生を止めるかどうか。
      pauseOnHover: true
      // スライドのエリアに画像がいくつ表示されるかを指定
      slidesToShow: 4,
      // 一度にスライドする数
      slidesToScroll: 1,
      // タッチスワイプに対応するかどうか
      swipe: true,
      // 縦方向へのスライド
      vertical: false,
      // 表示中の画像を中央へ
    　centerMode: true,
      // 中央のpadding
      centerPadding: '60px'
    });

    </script> -->
  <div id="row-font">
        <div id="theTarget">
            <div style="background-image: url(/img1.jpg)"></div>
            <div style="background-image: url(/img2.jpg)"></div>
            <div style="background-image: url(/img3.jpg)"></div>
            <div style="background-image: url(/sksk.jpg)"></div>
            <div style="background-image: url(/yuuko1.jpg)"></div>
        </div>
    </div>

      <div class="container">
        <div class="row">
          <nav>
                <ul class="nav-home">
                      <li class="nav-home-item">
                        <%= link_to "HOME", root_path, class: "home-title" %>
                      </li>
                      <li class="nav-home-item">
                        <%= link_to "CLIP", clips_path, class: "home-title" %>
                      </li>
                      <li class="nav-home-item">
                        <%= link_to "SPOT", spots_path, class: "home-title" %>
                      </li>
                      <li class="nav-home-item">
                        <%= link_to "TREND", trends_path, class: "home-title" %>
                      </li>
                    </ul>
                </nav>
        </div>
      </div>
<% elsif admin_signed_in? %>
<% else %>
<div style="margin-top: 100px;"></div>
    <div id="row-font">
        <div id="theTarget">
            <div style="background-image: url(/img1.jpg)"></div>
            <div style="background-image: url(/img2.jpg)"></div>
            <div style="background-image: url(/img3.jpg)"></div>
            <div style="background-image: url(/sksk.jpg)"></div>
            <div style="background-image: url(/yuuko1.jpg)"></div>
        </div>
    </div>

      <div class="container">
        <div class="row">
          <nav>
                <ul class="nav-home">
                      <li class="nav-home-item">
                        <%= link_to "HOME", root_path, class: "home-title" %>
                      </li>
                      <li class="nav-home-item">
                        <%= link_to "CLIP", clips_path, class: "home-title" %>
                      </li>
                      <li class="nav-home-item">
                        <%= link_to "SPOT", spots_path, class: "home-title" %>
                      </li>
                      <li class="nav-home-item">
                        <%= link_to "TREND", trends_path, class: "home-title" %>
                      </li>
                    </ul>
                </nav>
        </div>
      </div>
<% end %>
    <%= yield %>
    <div style="margin-bottom: 500px;">
    </div>
    <footer id="footer">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">2019</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="https://twitter.com/racyo777" target="_blank" ><i class="fab fa-twitter"></i><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.instagram.com/sk8_growth/" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="https://www.facebook.com/shidara.syota?ref=bookmarks" target="_blank" tabindex="-1" aria-disabled="true"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <img src="/sk8growth-logo.png" alt="logo" width="100px">
          </form>
        </div>
      </nav>
    </footer>

<script>
  

 $(document).on('turbolinks:load',function(){
// オプションを指定してSkipprの実行
    $("#theTarget").skippr({
        // スライドショーの変化 ("fade" or "slide")
        transition : 'slide',
        // 変化に係る時間(ミリ秒)
        speed : 1000,
        // easingの種類
        easing : 'easeOutQuart',
        // ナビゲーションの形("block" or "bubble")
        navType : 'block',
        // 子要素の種類("div" or "img")
        childrenElementType : 'img',
        // ナビゲーション矢印の表示(trueで表示)
        arrows : true,
        // スライドショーの自動再生(falseで自動再生なし)
        autoPlay : true,
        // 自動再生時のスライド切替間隔(ミリ秒)
        autoPlayDuration : 3000,
        // キーボードの矢印キーによるスライド送りの設定(trueで有効)
        keyboardOnAlways : true,
        // 一枚目のスライド表示時に戻る矢印を表示するかどうか(falseで非表示)
        hidePrevious : false
    });
    });
 

</script>
  </body>
</html>
