<!DOCTYPE html>
<html>
  <head>
    <title>Sk8</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel='stylesheet' href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">

    
   


  </head>

  <body>
  <header id="header" style="height: 115px;">

  <% if user_signed_in? %>

      <nav>
        <ul class="nav-list">
            <li class="nav-item dropdown" style="float: left;">
              <a class="fas fa-bars link-none" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 50px;">
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                 <%= link_to "HOME", root_path, class: "dropdown-item" %>
                 <%= link_to "CLIP", clips_path, class: "dropdown-item" %>
                 <%= link_to "SPOT", spots_path, class: "dropdown-item" %>
                 <%= link_to "TREND", trends_path, class: "dropdown-item" %>
                 <%= link_to "MYPAGE", user_path(current_user), class: "dropdown-item" %>
              </div>
            </li>
          <h1 class="header-title1 display-4" style="letter-spacing: 13px; font-weight: bold;font-family: 'Bradley Hand',sans-serif;">sk8growth</h1>
              <li class="nav-list-item ml-lg-5 mr-lg-5">
                <%= link_to '' , destroy_user_session_path, method: :delete, class: "header-title fas fa-sign-out-alt link-none" %>
              </li>
              <li class="nav-list-item ml-lg-5 mr-lg-5">
                <%= link_to "", new_user_session_path, class: "header-title fas fa-sign-in-alt link-none" %>
              </li>
              <li class="nav-list-item ml-lg-5 mr-lg-5">
                <%= link_to "", new_clip_path,data: {"turbolinks" => false}, class: "header-title fas fa-video link-none" %>
              </li>
        </ul>
      </nav>
  <% elsif admin_signed_in? %>
      <div class="container">
        <div class="row">
          <nav>
                <ul class="nav-admin">
                      <li class="nav-admin-item">
                        <%= link_to "HOME", admins_homes_path, class: "admin-title" %>
                      </li>
                      <li class="nav-home-item">
                        <%= link_to "CLIP", admins_clips_path, class: "admin-title" %>
                      </li>
                      <li class="nav-home-item">
                        <%= link_to "SPOT", admins_spots_path, class: "admin-title" %>
                      </li>
                      <li class="nav-home-item">
                        <%= link_to "TREND", admins_trends_path, class: "admin-title" %>
                      </li>
                      <li class="nav-home-item">
                        <%= link_to 'LogOut' , destroy_admin_session_path, method: :delete, class: "admin-title" %>
                      </li>
                    </ul>
                </nav>
        </div>
      </div>
  <% else %>
     <nav>
        <ul class="nav-list">
            <li class="nav-item dropdown" style="float: left;">
              <a class="fas fa-bars link-none" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 50px;">
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                 <%= link_to "HOME", root_path, class: "dropdown-item" %>
                 <%= link_to "CLIP", clips_path, class: "dropdown-item" %>
                 <%= link_to "SPOT", spots_path, class: "dropdown-item" %>
                 <%= link_to "TREND", trends_path, class: "dropdown-item" %>
                 <%#= link_to "MYPAGE", user_path(current_user), class: "dropdown-item" %>
              </div>
            </li>
          <h1 class="header-title1 display-4" style="letter-spacing: 13px; font-weight: bold;font-family: 'Bradley Hand',sans-serif;">sk8growth</h1>
              <li class="nav-list-item ml-lg-5 mr-lg-5">
                <%= link_to '' , destroy_user_session_path, method: :delete, class: "header-title fas fa-sign-out-alt link-none" %>
              </li>
              <li class="nav-list-item ml-lg-5 mr-lg-5">
                <%= link_to "", new_user_session_path, class: "header-title fas fa-sign-in-alt link-none" %>
              </li>
        </ul>
      </nav>
  <% end %>
    <% if flash[:notice] %>
       <p class="alert-success" style="text-align: center; height: 30px; font-size: 20px;margin-bottom: 0;"><%= flash[:notice] %></p>
     <% end %>
</header>
<% if user_signed_in? %>
<div style="margin-top: 100px;"></div>
  <div id="row-font">
        <div id="theTarget">
            <div style="background-image: url(/clip2.jpg)"></div>
            <div style="background-image: url(/sksk.jpg)"></div>
            <div style="background-image: url(/city.jpg)"></div>
            <div style="background-image: url(/city2.jpg)"></div>
            <div style="background-image: url(/city3.jpg)"></div>
            <div style="background-image: url(/city4.jpg)"></div>
        </div>
    </div>

      <div class="container">
        <div class="row">
          <nav>
                <ul class="nav-home row">
                      <li class="nav-home-item mt-lg-5 col-lg-1">
                        <%= link_to "HOME", root_path, class: "home-title rounded" %>
                      </li>
                      <li class="nav-home-item mt-lg-5 col-lg-1">
                        <%= link_to "CLIP", clips_path, class: "home-title rounded" %>
                      </li>
                      <li class="nav-home-item mt-lg-5 col-lg-1">
                        <%= link_to "SPOT", spots_path, class: "home-title rounded" %>
                      </li>
                      <li class="nav-home-item mt-lg-5 col-lg-1">
                        <%= link_to "TREND", trends_path, class: "home-title rounded" %>
                      </li>
                    </ul>
                </nav>
        </div>
      </div>
<% elsif admin_signed_in? %>
<% else %>
<div style="margin-top: 100px;"></div>
    <div id="row-font">
        <div id="theTarget">
            <div style="background-image: url(/clip2.jpg)"></div>
            <div style="background-image: url(/sksk.jpg)"></div>
            <div style="background-image: url(/city.jpg)"></div>
            <div style="background-image: url(/city2.jpg)"></div>
            <div style="background-image: url(/city3.jpg)"></div>
            <div style="background-image: url(/city4.jpg)"></div>
        </div>
    </div>

      <div class="container">
        <div class="row">
          <nav>
                <ul class="nav-home row">
                      <li class="nav-home-item mt-lg-5 col-lg-1">
                        <%= link_to "HOME", root_path, class: "home-title rounded" %>
                      </li>
                      <li class="nav-home-item mt-lg-5 col-lg-1">
                        <%= link_to "CLIP", clips_path, class: "home-title rounded" %>
                      </li>
                      <li class="nav-home-item mt-lg-5 col-lg-1">
                        <%= link_to "SPOT", spots_path, class: "home-title rounded" %>
                      </li>
                      <li class="nav-home-item mt-lg-5 col-lg-1">
                        <%= link_to "TREND", trends_path, class: "home-title rounded" %>
                      </li>
                    </ul>
                </nav>
        </div>
      </div>
<% end %>
    <%= yield %>
    <div style="margin-bottom: 300px;">
    </div>
    <footer id="footer" style="height: 70px;">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="">2019</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="https://twitter.com" target="_blank" ><i class="fab fa-twitter"></i><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.instagram.com/sk8_growth/" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="https://www.facebook.com" target="_blank" tabindex="-1" aria-disabled="true"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
            </li>
            <li class="nav-item">
              <% if user_signed_in? %>
                <div class="nav-link" style="font-size: 20px;"><%= current_user.name %>login中</div>
              <% end %>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <img src="/sk8growth-logo.png" alt="logo" width="100px">
          </form>
        </div>
      </nav>
    </footer>

<script>
  

 $(document).on('turbolinks:load',function(){
// オプションを指定してSkipprの実行
    $("#theTarget").skippr({
        // スライドショーの変化 ("fade" or "slide")
        transition : 'slide',
        // 変化に係る時間(ミリ秒)
        speed : 1000,
        // easingの種類
        easing : 'easeOutQuart',
        // ナビゲーションの形("block" or "bubble")
        navType : 'block',
        // 子要素の種類("div" or "img")
        childrenElementType : 'img',
        // ナビゲーション矢印の表示(trueで表示)
        arrows : true,
        // スライドショーの自動再生(falseで自動再生なし)
        autoPlay : true,
        // 自動再生時のスライド切替間隔(ミリ秒)
        autoPlayDuration : 3000,
        // キーボードの矢印キーによるスライド送りの設定(trueで有効)
        keyboardOnAlways : true,
        // 一枚目のスライド表示時に戻る矢印を表示するかどうか(falseで非表示)
        hidePrevious : false
    });
    });
 

</script>
  </body>
</html>
